/* $Id$ */

.filefield-element .uploadfield-preview {
}

.filefield-element .uploadfield-text {
}

.video_thumbnail {
}

.uploadfield {

}

.uploadfield-nodelink {
  
}

.uploadfield-video-thumb {
  
}

.uploadfield-video-thumb img{
  width : 250px;
}

.video-width-text {
  width:10px;
}

.video-thumb-selection{
  
}

.video-thumb-selection label{
  float:left;
}