/* $Id$ */

.filefield-element .filefield-file-info, .video_thumbnail {
  min-width: 100px;
  min-height: 100px;
}

.filefield-element .imagefield-preview {
  min-width: 100px;
  min-height: 100px;
}

.filefield-element .imagefield-text {
  max-width: 40em; /* Reflect the maxlength of the ALT attribute (80 characters). */
}

.filefield-element .uploadfield-text {
  max-width: 40em;
}

.video_thumbnail {
  min-width: 100px;
  min-height: 100px;
}

.uploadfield {

}

.uploadfield-nodelink {
  
}

.uploadfield-video-thumb {
  
}

.uploadfield-video-thumb img{
  width : 250px;
}

.video-width-text {
  width:10px;
}

.video-thumb-selection{
  
}

.video-thumb-selection .form-item {
  
}

.video-thumbnails{
/*  display : block;*/
}
.video-thumbnails .form-item{
  float:left;
  margin-right:10px;
  max-width:30%;
  padding-right:10px;
}

.video-bypass-auto-conversion{

}
.video-default-thumbnail{
  
}

.video-data{
  
}

.video_image_teaser {
  float: left;
  padding: 0.5em;
}

br.video_image_clear {
  clear: both;
}

.video_image_view {
  /* inser here rules for node page image */
}

.video-ffmpeg-helper-inprogress {
  border: 1px solid red;
  padding: .5em;
}